/* TYPOGRAPHY */
* { font-family: 'Open Sans', sans-serif; color: white; }
h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 2.625rem; font-weight: 600; line-height: 1; letter-spacing: -.5px;
  margin: 0;
  @media (width > 30em) { font-size: 3.5rem; }
  @media (width > 48em) { font-size: 4.25rem; }
}
h2 {
  font-size: 1.625rem; font-weight: 600; line-height: 1; letter-spacing: -.5px;
  margin: 0;
  @media (width > 30em) { font-size: 2.125rem; }
  @media (width > 48em) { font-size: 2.625rem; }
}
h2.alt {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem; font-weight: 500; font-style: italic; letter-spacing: -1.5px;
  color: var(--primary-600);
}
h3 {
  font-family: 'DM Mono', monospace;
  font-size: 1.125rem; font-weight: 500;
  margin: 0;
}
span.kicker {
  font-family: 'DM Mono', monospace;
  color: var(--neutral-300);
  @media (width > 30em) { font-size: 1.125rem; }
}
span.hl { font-family: 'Libre Baskerville', serif; font-style: italic; font-weight: 500; letter-spacing: -1.5px; }
span.h-accent { color: var(--primary-700); letter-spacing: 0; }
span.h-under {
  position: relative;
  isolation: isolate;
  &::after {
    position: absolute; content: ''; z-index: -1;
    width: 100%;
    height: 10px;
    left: .5ch;
    bottom: 2px;
    background-color: var(--primary-200);
  }
}
p {
  line-height: 1.8;
  @media (width > 30em) { font-size: 1.125rem; }
}
button, .button {
  font-weight: 600;
}
/* typography */

/* COLOR PALETTE */
:root {
  --primary-50: hsl(359, 99%, 5%);
  --primary-100: hsl(359, 99%, 10%);
  --primary-200: hsl(359, 99%, 20%);
  --primary-300: hsl(359, 99%, 30%);
  --primary-400: hsl(359, 99%, 40%);
  --primary-500: hsl(359, 99%, 50%);
  --primary-600: hsl(359, 99%, 60%);
  --primary-700: hsl(359, 99%, 70%);
  --primary-800: hsl(359, 99%, 80%);
  --primary-900: hsl(359, 99%, 90%);
  --primary-950: hsl(359, 99%, 95%);

  --black-200: hsl(from var(--primary-100) h 4% 4%);
  --black-300: hsl(from var(--primary-100) h 4% 8%);
  --black-400: hsl(from var(--primary-100) h 4% l);
  --black-500: hsl(from var(--primary-200) h 4% 14%);
  --black-600: hsl(from var(--primary-200) h 4% l);
  --black-700: hsl(from var(--primary-200) h 4% 24%)
}
/* color palette */

/* BODY */
body { background-color: var(--black-400); }
/* body */

/* HEADER */
header {
  position: absolute;
  inset: 0 0 auto;
  background-color: transparent;

  img { height: 54px; }

  &:has(button[aria-expanded="true"]), .mobile-view button + nav {
    background-color: var(--black-400);
  }

  a:not(.button):hover, a.active { color: var(--primary-600); }
}
/* header */

/* HERO */
#hero {
  display: grid;
  place-items: center;
  padding-top: 7.5rem;
  padding-bottom: 3.625rem;

  h1 { margin-top: .625rem; }
  .buttons { margin-top: 2rem; }
}
/* hero */

/* FOOTER */
footer {
  margin-top: 2.635rem;
  padding: 4.25rem 0 1.625rem;
  background-color: var(--black-300);
  .ceg-info {
    img { height: 4rem; margin-inline: auto; }
    p { color: var(--neutral-300); }
  }
  .navigation, .contact {
    margin-top: 1.625rem;
    display: flex;
    flex-direction: column;
    nav, .nav {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p { margin: 0; line-height: 1.35; }
    }
  }
  .legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    font-size: .875rem;
    margin: 1.625rem 0 0;
    padding-top: 1rem;
    border-top: 2px solid var(--neutral-600);
    color: var(--neutral-500);
    > div { display: flex; gap: 16px; }
  }

  p, a { font-size: .875rem; color: var(--neutral-400); }
  a:hover, .contact p:hover { color: var(--primary-700); cursor: pointer; }
}
/* footer */

/* COMPONENTS */
button, .button {
  padding: 1rem 26px;
  border-radius: 1rem;
  transition: background-position 200ms, margin-left 200ms;

  &.btn-primary {
    background: linear-gradient(40deg, var(--primary-300), var(--primary-400));
    background-size: 200% 100%;
    border: 2px solid var(--primary-400);
    span { margin-left: 8px; transition: inherit; }
    &:hover { background-position: 90%; span { margin-left: 1rem; } }
  }
  &.btn-secondary {
    font-weight: 700;
    background: linear-gradient(40deg, hsl(from var(--neutral-400) h s l / 0.7), hsl(from var(--neutral-300) h s l / 0.9));
    background-size: 200% 100%;
    border: 2px solid hsl(from var(--neutral-400) h s l / 0.8);
    color: var(--primary-300);
    span { margin-left: 8px; transition: inherit; }
    &:hover { background-position: 90%; span { margin-left: 1rem; } }
  }
  &.btn-sm { padding: 10px 1rem; border-radius: 12px; }
}

.hero-sm { text-align: center; }
/* components */

/* QUERIES */
@media (width > 48em) {
  #hero .button { max-width: max-content; margin-inline: auto; }
  footer {
    .ceg-info { text-align: center; }
    .col-2 { display: flex; justify-content: space-between; }
  }
}

@media (width > 75em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .ceg-info {
      img { margin-inline: 0; }
      p { text-align: left; padding-right: 68px; }
    }
    .legal { margin-top: 2.625rem; grid-column-end: span 3; }
  }
}
/* queries */