#hero {
  background: linear-gradient(to bottom, var(--black-200), var(--black-500));
}

#hero {
  box-shadow: 0 0 8px 0 var(--neutral-900);
}

#poziciok {
  margin-top: 6.875rem;
  max-width: 60rem;
  width: 100%;
  margin-inline: auto;

  .cards {
    margin-top: 1.625rem;
    display: grid;
    gap: 16px;
  }
  .card {
    border: 4px solid var(--black-600);
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    transition: background-color 160ms;
    p {
      font-weight: 500;
      transition: margin-left 160ms;
    }
    span { color: var(--primary-700); font-family: 'Libre Baskerville', serif; font-style: italic; letter-spacing: .2px; }

    &:hover {
      background-color: var(--black-600);
      p { margin-left: 16px; }
    }
  }
}

#jelentkezz {
  margin-top: 6.875rem;
  margin-bottom: 4.25rem;
  .title {
    max-width: 60rem;
    margin-inline: auto;
    p { margin-block: .625rem; color: var(--neutral-300); }
  }

  form {
    margin: 2.625rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60rem;

    div {
      display: flex;
      flex-direction: column;
      gap: .25rem;
    }
  }
  label { font-size: 16px; color: var(--neutral-100); }
  input, select, textarea {
    background-color: var(--black-500);
    border: 2px solid var(--neutral-600);
    border-radius: 16px;
    padding: .875rem 14px;
  }

  textarea {
    min-height: 5lh;
  }

  .row { display: grid; gap: 16px; }

  .adatkez {
    display: flex;
    flex-direction: row;
    align-items: center;

    input { margin: 0; accent-color: var(--primary-400); height: 50px; }
    label { color: var(--neutral-300); }
  }
  button { max-width: max-content; }
}

@media (width > 48em) {
  #jelentkezz form .row {
    grid-template-columns: 1fr 1fr;
  }
}